<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页 - 博客园</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
	<div id="nav-bar">
		<div>
			<a href="/" id="wonders"><b>博</b></a>
		</div>
		<div>
			<a href="/themes" id="themes" ><i class="fa fath" aria-hidden="true" id="theme-font"></i></a>
		</div>
	</div>
	<div id="mid">
		<h1><b>博客园</b></h1>
		<h2><b>交流技术，共同进步</b></h2>
		<span id="note"><b>一个分享技术的博客园地</b></span>
		<a href="javascript:void(0)" id="write" onclick="isLogin()">
			<i class="fa fa-pen"></i>
			写博客
		</a>
	</div>
	<div id="news"> 
		{% if passages %}
		{% for passage in passages %}
		<div id="p-container">
			<div id="p">
				<div class="ti" id="ti" onclick="read(this)">{{passage['title']}}</div>
			</div>
			<div id="notice">
				<span id="read">阅读({{passage['readTimes']}})</span>
				<span id="com">评论({{passage['commentTimes']}})</span>
				<span>{{passage['time']}}</span>
				<a href="" id="follow">+关注</a>
				<span id="authorwrapper">by &nbsp<a href="" id="author">{{passage['author']}}</a></span>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	<a href="/signin" id="signin">Sign in</a>
	<a href="/signup" id="signup">Sign up</a>
</body>
</html>
