<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>博客园 - 设置</title>
	<link rel="stylesheet" type="text/css" href="../static/css/set.css">
	<script type="text/javascript" src="../static/js/set.js"></script>
</head>
{% block body %}
		<div id="nav-bar" onclick="hideSubMenu(document.getElementById('menu'))">
			<div>
				<a href="/" id="wonders"><b>博</b></a>
			</div>
			<div>
				<a href="/themes" id="themes" ><i class="fa fa-themes" aria-hidden="true" id="theme-font"></i></a>
			</div>
			<div>
				<a href="/logout" class="logout"><i class="fa fa-logout" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="/set" class="set"><i class="fa fa-set" aria-hidden="true"></i></a>
			</div> 
			<div>
				<a href="/warehouse" class="warehouse"><i class="fa fa-warehouse"></i></a>
			</div>
			<div>
				<a href="/home" class="home"><i class="fa fa-home" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="/write" class="write"><i class="fa fa-write" aria-hidden="true"></i></a>
			</div>
		</div>
		<div id="center" onclick="hideSubMenu($('menu'))">
			<h1>
				<i class="fa fa-set"></i>
				设置
			</h1>
			<div id="navbar">
				<a href="javascript:void(0)" id="basic" onclick="change(this.id)">基础设置</a>
				<a href="javascript:void(0)" id="info" onclick="change(this.id)">个人资料</a>
				<a href="javascript:void(0)" id="passwd" onclick="change(this.id)">修改密码</a>
			</div>
			<div id="basicContent">
				<p>昵称</p>
				<input type="text" name="nickname" id="nickname">
				<div id="hideNickname">{{nickname}}</div>
				<p>电子邮件</p>
				<input type="text" name="email" id="email" disabled="disabled">
				<div id="hideEmail">{{email}}</div>
				<p>绑定手机号码</p>
				<input type="text" name="tel" id="tel">
				{% if tel %}
				<div id="hideTel">{{tel}}</div>
				{% endif %}
				<a href="javascript:void(0)" id="save" onclick="saveBasic(this)">保存</a>
			</div>
			<div id="infoContent">
				<p>头像</p>
				<div id="head">
					<img id="img">
					<div id="hideImgPath">{{imgPath}}</div>
					<a href="javascript:void(0)" id="upload">
						更换头像
						<form action="" method="POST" enctype="multipart/form-data" id="form">
							<input type="file" name="upload" onchange="send(this)">
						</form>
					</a>
				</div>
				<p>简介</p>
				<textarea id="textarea"></textarea>
				<div id="hideIntro">{{intro}}</div>
				<a href="javascript:void(0)" id="save" onclick="saveIntro()">保存</a>
			</div>
			<div id="passwdContent">
				<p>原始密码</p>
				<div id="input">
					<input type="password" name="origin" onblur="checkOri(this)" id="origin">
					<span id="error">
						<i class="fa fa-exclamation-circle"></i>
					</span>
					<span id="correct">
						<i class="fa fa-check-circle"></i>
					</span>
				</div>
				<p>新密码</p>
				<div id="input">
					<input type="password" name="new" onblur="checkNew(this)" id="new">
					<span id="error">
						<i class="fa fa-exclamation-circle"></i>
						密码不为空
					</span>
					<span id="correct">
						<i class="fa fa-check-circle"></i>
					</span>
				</div>
				<p>确认新密码</p>
				<div id="input">
					<input type="password" name="confirm" onblur="checkConfirm(this)" id="confirm">
					<span id="error">
						<i class="fa fa-exclamation-circle"></i>
						两次输入的密码不一致
					</span>
					<span id="correct">
						<i class="fa fa-check-circle"></i>
					</span>
				</div>
				<a href="javascript:void(0)" id="save" onclick="summit()">提交</a>
			</div>
		</div>
		<div id="right" onclick="hideSubMenu($('menu'))"></div>
		<a href="javascript:void(0)" class="head" data-toggle="dropdown" onclick="displaySubMenu(document.getElementById('menu'))">
				<img class="qq">	
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="dLabel" id="menu">
				<li>
					<a href="/write">
						<i class="fa fa-pen"></i>
						写博客
					</a>
				</li>
				<li>
					<a href="/home">
						<i class="fa fa-home"></i>
						我的个人主页
					</a>
				</li>
				<li>
					<a href="/warehouse">
						<i class="fa fa-warehouse"></i>
						我的仓库
					</a>
				</li>
				<li>
					<a href="/set">
						<i class="fa fa-set"></i>
						设置
					</a>
				</li>
				<li>
					<a href="/logout">
						<i class="fa fa-logout"></i>
						登出
					</a>
				</li>
			</ul>
{% endblock %}
</html> 
