body
{
	margin:0;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a
{
	text-decoration: none;
}
#nav-bar
{
	width: 45px;
	height: 100%;
	background-color: #2a2a2a;
	position: fixed;
	left: 0;
}
#wonders
{
	width: 45px;
	height: 45px;
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	display: block; 
	font-weight: 1;
	background-color: #e78170;
}
#write:hover
{
	background-color: #f49484;
}
#themes
{
	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: absolute;
	top:45px;
}
#themes:hover
{
	background-color: #f49484;
	color: white;
}
@font-face
 {
 	font-family: 'FontAwesome';
 	src:url(../fonts/fontawesome-webfont.eot);
 	src:url(../fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/fontawesome-webfont.woff2) format('woff2'),
 	url(../fonts/fontawesome-webfont.woff) format('woff'),
 	url(../fonts/fontawesome-webfont.ttf) format('truetype'),
 	url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format('svg');
 }
  .fa
{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0, 0);
}
.fa-themes:before
 {
 	content: '\f009';
 }
 .logout
 {
 	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: fixed;
	bottom: 0;
	text-decoration: none;
	display: block;
 }
 .fa-logout:before
 {
 	content: '\f08b';
 }
 .logout:hover
 {
 	color: white;
 }
 .set
 {
 	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: fixed;
	bottom: 45px;
	text-decoration: none;
	display: block;
 }
 .fa-set:before
 {
 	content: '\f085';
 }
 .set:hover
 {
 	color: white;
 }
 .collection
 {
 	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: fixed;
	bottom: 90px;
	text-decoration: none;
	display: block;
 }
 .fa-collection:before
 {
 	content: "\f02e";
 }
 .collection:hover
 {
 	color: white;
 }
 .warehouse
 {
 	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: fixed;
	bottom: 135px;
	text-decoration: none;
	display: block;
 }
 .warehouse:hover
 {
 	color: white;
 }
 .fa-warehouse:before
 {
 	content: "\f09b";
 }
 .home
 {
 	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: fixed;
	bottom: 180px;
	text-decoration: none;
	display: block;
 }
 .fa-home:before
 {
 	content: "\f007";
 }
 .home:hover
 {
 	color: white;
 }
 .write
 {
 	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: fixed;
	top: 90px;
	text-decoration: none;
	display: block;
	
 }
 .fa-write:before
 {
 	content: "\f040";
 }
 .write:hover
 {
 	background-color: #f49484;
 }
 .head
 {
 	height: 38px;
 	display: block;
 	line-height: 55px;	
 	float: right;
 	position: relative;
 	top: 6px;
 	right: 25px;
 }
 .qq
 {
 	width: 35px;
 	height: 35px;
 	border-radius: 50%;
 	border: 2px solid white;
 }
 .qq:hover
 {
 	border-color: #e78170;
 }
 .caret
 {
 	display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    color: #555555;
    position: relative;
    top: 20px;
 }
 .arrow-top:before, .arrow-top:after
 {
 	position: absolute;
    top: -10px;
    left: 67%;
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #d9d9d9;
 }
 .arrow-top:after
 {
 	top: -9px;
    border-bottom: 9px solid white;	
 }
.dropdown-menu li a:link,.dropdown-menu li a:visited
{
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #3f3f3f;
    white-space: nowrap;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #3f3f3f;
    white-space: nowrap;
}
.dropdown-menu li a:hover 
{
	color: white;
    background-color: #4f4f4f;
    background-image: -moz-linear-gradient(top, #555, #484848);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#484848));
    background-image: -webkit-linear-gradient(top, #555, #484848);
    background-image: -o-linear-gradient(top, #555, #484848);
    background-image: linear-gradient(to bottom, #555, #484848);
    background-repeat: repeat-x;
}
.dropdown-menu
{
	position: absolute;
    top: 60px;
    right: 13px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-size: 14px;
}
.dropdown-menu li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.fa-pen:before
{
	content: "\f040";
}
.fa-home:before
{
	content: "\f007";
}
.fa-collection:before
{
	content: "\f02e";
}
.fa-set:before
{
	content: "\f085";
}
.fa-logout:before
{
	content: "\f08b";
}
#left
{
	width: 30%;
	height: 100%;
	position: fixed;
	left: 45px;
	background-image: url(../pics/collection.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#center
{
	width: 60%;
	height: 100%;
	position: absolute;
	right: 90px;
}
#right
{
	width: 80px;
	height: 90%;
	position: absolute;
	right: 0;
	bottom: 0;
}
#title
{
	width: 80%;
	height: 80px;
	text-align: left;
	margin-left:auto;
	margin-right: auto;
	margin-top: 300px;
	margin-bottom: 40px;
	color: white;
}
h1,h2
{
	margin-bottom: -20px;
	font-family: inherit;
	font-weight: bold;
}
h1
{
	font-size: 40px;
}
#note
{
	width: 80%;
	height: 80px;
	background-color: #2c2c2c;
	margin: 0 auto;
	color: white;
	text-align: center;
	line-height: 80px;
	opacity: 0.8;
}
.fa-light:before
{
	content: "\f0eb";
}
#write
{
	display: block;
	text-decoration: none;
	width: 150px;
	height: 50px;
	background-color: #6cc644;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	border-radius: 5px;
	font-family:Georgia, "Times New Roman", 
             "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", 
             serif;
    margin: 30px auto;
    position: relative;
    right: 88px;
}
#write:hover
{
	background-color: #6bd95b;
}
#navbar
{
	width: 85%;
	height: 50px;
	margin: 0 auto auto 0;
	border-bottom: 2px solid #d9d9d9;
}
#friend,#collect
{
	width: 66px;
	height: 50px;
	color: #999999;
	padding: 16px;
	text-align: center;
	line-height: 50px;
	font-size: 12px;
}
#friend
{
	margin-left: 30px;
}
#collect
{
	margin-left: 0px;
	border-bottom: 2px solid #555555;
}
#friend:hover,#collect:hover
{
	color: #555555;
	background-color: #eeeeee;
}
#search
{
	width: 150px;
	height: 20px;
	float: right;
	border: 1px solid #cccccc;
	border-radius: 15px;
	font-size: 14px;
	color: #555555;
	outline: none;
	padding: 4px 14px 6px 14px;
	margin-top: 9px;
}
#search:focus
{
	border-color: rgba(82,168,236,0.8);
}
input::-webkit-input-placeholder
{
	color: #999999;
	font-weight: 500;
	font-size: 13px;
}
.fa-search:before
{
	content: "\f002";
	font-size: 14px;
	color: #555555;
}
#logo
{
	float: right;
	position: relative;
	top: 11px;
	left: 170px;
}