body
{
	margin:0;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a
{
	text-decoration: none;
}
#nav-bar
{
	width: 45px;
	height: 100%;
	background-color: #2a2a2a;
	position: fixed;
	left: 0;
}
#wonders
{
	width: 45px;
	height: 45px;
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	background-color: #e78170;
	display: block; 
}
#themes
{
	width: 45px;
	height: 45px;
	color: #999999;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	position: absolute;
	top:45px;
}
#themes:hover
{
	background-color: #f49484;
	color: white;
}
#signup
{
	position: fixed;
	right: 50px;
	top: 30px;
	width: 75px;
	height: 35px;
	border-radius: 5px;
	background-color: #569e3d;
	color: white;
	text-align: center;
	line-height: 35px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}
#signin
{
	position: fixed;
	right: 150px;
	top: 30px;
	width: 75px;
	height: 35px;
	border-radius: 5px;
	background-color: #ddd;
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc;
	color: #333;
	text-align: center;
	line-height: 35px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}
#content
{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}
#header
{
	width: 940px;
	height: 264px;
}
#h1
{
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
	font-weight: 600;
	color: #f49484;
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 100px;
}
#h2
{
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
	font-weight: 300;
	color: #f49484;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 100px;
}
h4
{
	font-size: 17.5px;
	font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    display: block;
    text-align: center;
}
h4 span
{
	position: relative;
	top: 10px;
	background: white;
	padding: 0 30px;
}
.title
{
	margin: 45px auto 20px;
    border-bottom: 1px solid #eeeeee;
    color: #b1b1b1;
}
.active
{
	font-size: 20px;
	color: #3f3f3f;
	text-decoration: none;
	font-weight: bolder;
	color: #555555;
}
.register
{
	font-size: 20px;
	color: gray;
	text-decoration: none;
	font-weight: bold;
	color: #b1b1b1;
}
.form
{
	width: 300px;
	height: 251px;
	margin:0 auto;
}
.input
{
	position: relative;
	margin: 0 auto;
    display: table;
    width: 500px;
}
.input-group-addon
{
	padding: 10.5px 14px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-right: 0;
    border-radius: 4px;
}
.input-group-addon:first-child
{
	border-radius: 4px 0 0 4px;
}
.fa-user:before
{
	content: '\f007';
}
#email
{
	display: inline-block;
	margin: 30px auto 0;
	border-radius:0 4px 4px 0;
	border: 1px solid #cccccc;
	width: 256px;
    height: 44px;
    padding: 4px 12px;
    box-sizing: border-box;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.fa-passwd:before
{
	content: '\f084';
	font-size: 5px;
	font-weight: 700;
}
#passwd
{
	margin: 15px auto 0;
	border-radius:0 4px 4px 0;
	border: 1px solid #cccccc;
	width: 256px;
    height: 44px;
    padding: 4px 12px;
    box-sizing: border-box;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#login
{
	margin: 15px auto 10px;
    background-color: #049cdb;
    color: white;
    text-align: center;
    line-height: 44px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
#login:hover
{
	background-color: #15a7f0;
}
.check
{
	display: inline-block;
	position: relative;
	right: 3px;		
}
#remember
{
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 10px;
	position: relative;
	bottom: 2px;
	right: 5px;
}
#forget
{
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	color: black;
	font-size: 10px;
	float: right;
	position: relative;
	top: 3px;
} 	
#l4
{
	width: 300px;
	margin:10px auto 10px;
    border-bottom: 1px solid #eeeeee;
    color: #b1b1b1;
}
#sns
{
	margin:10px auto 0;
	text-align: center;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 15px;
}
#login-sns
{
	margin: 0 auto;
	width: 721px;
	height: 44px;
}
li
{
	display: inline-block;
}
#qq
{
	display: block;
	width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 44px;
    font-size: 20px;
    background: #eeeeee;
    position: relative;
    left: 240px;
    margin: 10px 10px 60px 10px;
    color: #555555;
}
#qq:hover
{
	background-color: #15a7f0;
	color: white;
}
.fa-qq:before
{
	content: '\f1d6';
	position: relative;
	left: 12px;
}
#wechat
{
	display: block;
	width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 44px;
    font-size: 20px;
    background: #eeeeee;
    position: relative;
    left: 240px;
    margin: 10px 10px 60px 10px;
    color: #555555;
}
#wechat:hover
{
	background-color: #49be38;
	color: white;
}
.fa-wechat:before
{
	content: '\f1d7';
	position: relative;
	left: 12px;
}
#weibo
{
	display: block;
	width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 44px;
    font-size: 20px;
    background: #eeeeee;
    position: relative;
    left: 240px;
    margin: 10px 10px 60px 10px;
    color: #555555;
}
#weibo:hover
{
	background-color: #f57e42;
	color: white;
}
.fa-weibo:before
{
	content: '\f18a';
	position: relative;
	left: 12px;
}
 @font-face
 {
 	font-family: 'FontAwesome';
 	src:url(../fonts/fontawesome-webfont.eot);
 	src:url(../fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/fontawesome-webfont.woff2) format('woff2'),
 	url(../fonts/fontawesome-webfont.woff) format('woff'),
 	url(../fonts/fontawesome-webfont.ttf) format('truetype'),
 	url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format('svg');
 }
  .fa
{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0, 0);
}
 .fath:before
 {
 	content: '\f009';
 }
 #error1
{
	color: #f66;
	margin-left: 10px;
	font-size: 14px;
	display: none;
}
.fa-exclamation-circle:before {
  content: "\f06a";
}