<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>博客园 - 个人主页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/home.css">
	<script type="text/javascript" src="../static/js/home.js"></script>
</head>
<body>
		<div id="nav-bar" onclick="hideSubMenu(document.getElementById('menu'))">
			<div>
				<a href="index.html" id="wonders"><b>博</b></a>
			</div>
			<div>
				<a href="themes.html" id="themes" ><i class="fa fa-themes" aria-hidden="true" id="theme-font"></i></a>
			</div>
			<div>
				<a href="index.html" class="logout"><i class="fa fa-logout" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="set.html" class="set"><i class="fa fa-set" aria-hidden="true"></i></a>
			</div> 
			<div>
				<a href="collection.html" class="collection"><i class="fa fa-collection" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="home.html" class="home"><i class="fa fa-home" aria-hidden="true"></i></a>
			</div>
			<div>
				<a href="write.html" class="write"><i class="fa fa-write" aria-hidden="true"></i></a>
			</div>
		</div>
		<div id="left" onclick="hideSubMenu($('menu'))">
			<img src="../static/pics/qq.png" id="head">
			<div id="username">b9d2331464db</div>
			<div id="edit">
				<a href="javascript:void(0)" id="introduction" onclick="edit()">编辑个人介绍</a>
			</div>
			<ul id="top" type="none">
				<li>
					<a href="" id="care">
						<b>0</b>
						<div id="care1">关注</div>
					</a>
				</li>
				<li>
					<a href="" id="fans">
						<b>0</b>
						<div id="fans1">粉丝</div>
					</a>
				</li>
			</ul>
			<ul id="bottom" type="none">
				<li>
					<a href="" id="passage">
						<b>0</b>
						<div id="passage1">博客</div>
					</a>
				</li>
				<li>
					<a href="" id="number">
						<b>0</b>
						<div id="number1">字数</div>
					</a>
				</li>
				<li>
					<a href="" id="love">
						<b>0</b>
						<div id="love1">收获喜欢</div>
					</a>
				</li>
			</ul>
		</div>
		<div id="center" onclick="hideSubMenu($('menu'))">
			<div id="navbar">
				<a href="javascript:void(0)" id="new" onclick="underline(this.id)">最新博客</a>
				<a href="javascript:void(0)" id="state" onclick="underline(this.id)">最新动态</a>
				<a href="javascript:void(0)" id="hot" onclick="underline(this.id)">热门博客</a>
			</div>
		</div>
		<div id="right" onclick="hideSubMenu($('menu'))"></div>
		<a href="javascript:void(0)" class="head" data-toggle="dropdown" onclick="displaySubMenu(document.getElementById('menu'))">
				<img src="../static/pics/qq.png" class="qq">	
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="dLabel" id="menu">
				<li>
					<a href="write.html">
						<i class="fa fa-pen"></i>
						写博客
					</a>
				</li>
				<li>
					<a href="home.html">
						<i class="fa fa-home"></i>
						我的个人主页
					</a>
				</li>
				<li>
					<a href="collection.html">
						<i class="fa fa-collection"></i>
						我的收藏
					</a>
				</li>
				<li>
					<a href="set.html">
						<i class="fa fa-set"></i>
						设置	
					</a>
				</li>
				<li>
					<a href="index.html">
						<i class="fa fa-logout"></i>
						登出
					</a>
				</li>
			</ul>
</body>
</html> 