<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页 - 博客园</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
	<div id="nav-bar">
		<div>
			<a href="" id="wonders"><b>博</b></a>
		</div>
		<div>
			<a href="themes.html" id="themes" ><i class="fa fath" aria-hidden="true" id="theme-font"></i></a>
		</div>
	</div>
	<div id="mid">
		<h1><b>博客园</b></h1>
		<h2><b>交流技术，共同进步</b></h2>
		<span id="note"><b>一个分享技术的博客园地</b></span>
		<a href="write.html" id="write">
			<i class="fa fa-pen"></i>
			写博客
		</a>
	</div>
	<div id="content">哈哈哈</div>
	<a href="signin.html" id="signin">Sign in</a>
	<a href="signup.html" id="signup">Sign up</a>
</body>
</html>