<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页 - 博客园</title>
	<link rel="stylesheet" type="text/css" href="../static/css/signup.css">
	<script type="text/javascript" src="../static/js/signup.js"></script>
	<script type="text/javascript" src="../static/js/jquery.js"></script>
</head>
<body>
	<div id="nav-bar">
		<div>
			<a href="/" id="wonders"><b>博</b></a>
		</div>
		<div>
			<a href="/themes" id="themes" ><i class="fa fath" aria-hidden="true" id="theme-font"></i></a>
		</div>
	</div>
	<div id="content">
		<div id="header">
			<div id="h1">博&nbsp;客&nbsp;园</div>
			<div id="h2">交流技术，共同进步</div>
		</div>
		<h4 class="title">
	      <span>
	        <a class="active" data-pjax="true" href="/signin">登录</a>
	        <b>·</b>
	        <a class="register" data-pjax="true" href="/signup">注册</a>
	      </span>
	    </h4>
		<form class="form" method="post" enctype="multipart/form-data" id="form" action="">
			<div class="input">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				<input type="text" name="email" id="email" placeholder="你的电子邮箱" onblur="checkEmail(this.id)">
				<span id="error1">
					<i class="fa fa-exclamation-circle"></i>
					请输入有效的电子邮箱
				</span>
				<span id="error4">
					<i class="fa fa-exclamation-circle"></i>
					用户名已存在
				</span>
				<span id="correct1">
					<i class="fa fa-check-circle"></i>
				</span>
			</div>
			<div class="input">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" name="nickname" id="nickname" placeholder="你的昵称" onblur="checkNickname(this.id)">
				<span id="error2">
					<i class="fa fa-exclamation-circle"></i>
					昵称不可以为空
				</span>
				<span id="error3">
					<i class="fa fa-exclamation-circle"></i>
					昵称已存在
				</span>
				<span id="correct2">
					<i class="fa fa-check-circle"></i>
				</span>
			</div>
			<div class="input">
				<span class="input-group-addon"><i class="fa fa-passwd"></i></span>
				<input type="password" name="passwd" id="passwd" placeholder="密码" oninput="pwStrength(this.value)">
				<span id="check">
					<table width="210" cellspacing="0" cellpadding="1" height="22" style='display:inline'>  
						<tr align="center">  
							<td width="33%" id="strength_L">弱</td>  
							<td width="33%" id="strength_M">中</td>  
							<td width="33%" id="strength_H">强</td>  
						</tr>  
					</table>  
					<span id="char"></span>
				</span>
			</div>
			<a href="javascript:void(0)" id="register" onclick="summit()">注册</a>
		</form>
		<div class="notice">点击 “注册” 或下方社交登录按钮，即表示您同意并愿意遵守简书<b> 用户协议 </b>和<b> 隐私政策 </b>。</div>
		<div class="other">
			<h4 id="l4"></h4>
			<div id="sns">您还可以通过以下方式直接登录</div>
			<ul id="login-sns" type="none">
				<li>
					<a href="" id="qq">
						<i class="fa fa-qq" id="fa-qq"></i>
					</a>
				</li>
				<li>
					<a href="" id="wechat">
						<i class="fa fa-wechat"></i>
					</a>
				</li>
				<li>
					<a href="" id="weibo">
						<i class="fa fa-weibo"></i>
					</a>
				</li>
			</ul>
		</div>
	<a href="/signin" id="signin">Sign in</a>
	<a href="/signup" id="signup">Sign up</a>
</body>
</html>
