<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页 - 博客园</title>
	<link rel="stylesheet" type="text/css" href="../static/css/signin.css">
	<script type="text/javascript" src="../static/js/signin.js"></script>
	<script type="text/javascript" src="../static/js/jquery.js"></script>
</head>
<body>
	<div id="nav-bar">
		<div>
			<a href="/" id="wonders"><b>博</b></a>
		</div>
		<div>
			<a href="/themes" id="themes" ><i class="fa fath" aria-hidden="true" id="theme-font"></i></a>
		</div>
	</div>
	<div id="content">
		<div id="header">
			<div id="h1">博&nbsp;客&nbsp;园</div>
			<div id="h2">交流技术，共同进步</div>
		</div>
		<h4 class="title">
	      <span>
	        <a class="active" data-pjax="true" href="/signin">登录</a>
	        <b>·</b>
	        <a class="register" data-pjax="true" href="/signup">注册</a>
	      </span>
	    </h4>
		<form class="form" method="post" action="" enctype="multipart/form-data" id="form">
			<div class="input">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" name="email" id="email" placeholder="电子邮箱" onblur="checkEmail(this.id)">
				<span id="error1">
					<i class="fa fa-exclamation-circle"></i>
					电子邮箱格式错误
				</span>
			</div>
			<div class="input">
				<span class="input-group-addon"><i class="fa fa-passwd"></i></span>
				<input type="password" name="passwd" id="passwd" placeholder="密码">
			</div>
			<a href="javascript:void(0)" id="login" onclick="summit()">登录</a>
			<div class="check">
				<input type="checkbox" name="remember" checked="checked">
				<span id="remember">记住我</span>
			</div>
			<a href="" id="forget">忘记密码</a>
		</form>
		<h4 id="l4"></h4>
		<div id="sns">您还可以通过以下方式直接登录</div>
		<ul id="login-sns" type="none">
			<li>
				<a href="" id="qq">
					<i class="fa fa-qq"></i>
				</a>
			</li>
			<li>
				<a href="" id="wechat">
					<i class="fa fa-wechat"></i>
				</a>
			</li>
			<li>
				<a href="" id="weibo">
					<i class="fa fa-weibo"></i>
				</a>
			</li>
		</ul>
	</div>
	<a href="/signin" id="signin">Sign in</a>
	<a href="/signup" id="signup">Sign up</a>
</body>
</html>
