<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>博客园 - Markdown编辑</title>
	<link rel="stylesheet" type="text/css" href="../static/css/write.css">
</head>
<body>
	<div id="nav-bar">
		<div>
			<a href="index.html" id="wonders"><b>博</b></a>
		</div>
		<div>
			<a href="themes.html" id="themes" ><i class="fa fa-themes" aria-hidden="true" id="theme-font"></i></a>
		</div>
		<div>
			<a href="index.html" class="logout"><i class="fa fa-logout" aria-hidden="true"></i></a>
		</div>
		<div>
			<a href="" class="set"><i class="fa fa-set" aria-hidden="true"></i></a>
		</div> 
		<div>
			<a href="" class="collection"><i class="fa fa-collection" aria-hidden="true"></i></a>
		</div>
		<div>
			<a href="" class="home"><i class="fa fa-home" aria-hidden="true"></i></a>
		</div>
		<div>
			<a href="" class="write"><i class="fa fa-write" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="bar">
		<li>
			<a href="" class="title"><i class="fa fa-title" aria-hidden="true"></i></a>
		</li>
		<li>
			<a href="" class="category"><i class="fa fa-themes" aria-hidden="true"></i></a>
		</li>
		<li>
			<a href="" class="save"><i class="fa fa-save" aria-hidden="true"></i></a>
		</li>
		<li>
			<a href="" class="publish"><i class="fa fa-publish" aria-hidden="true"></i></a>
		</li>
		<li>
			<a href="" class="head"><i class="fa fa-head" aria-hidden="true"></i></a>
		</li>
	</div>
</body>
</html>